/* #superior {
    margin-bottom:0;
} */

.cabecalho {
    padding-bottom: 9px;
    margin: 40px 0 20px;
}

body {
    margin-top: 50px;
}

/* #header {
    background-image: url('img/banner.jpg');
 } */